<div class="container mt-5">
    <button type="button" class="btn btn-primary m-2" (click)="logOut()">Logout</button>
    <button type="button" class="btn btn-warning m-2" (click)="openNewItemForm()">Create New Item</button>
    <form *ngIf="isCreateNew" [formGroup]="productForm" class="col-12 row">
        <div class="form-group col-6">
            <label for="">productName:</label>
            <input type="text" formControlName="productName" class="form-control" placeholder="">
        </div>

        <div class="form-group col-6">
            <label for="">category:</label>
            <input type="text" formControlName="category" class="form-control" placeholder="">
        </div>
        <div class="row">
            <div class="form-group col-6 col-md-4">
                <label for="">pricePerQuantity:</label>
                <input (blur)="setFinalPrice()" type="number" formControlName="pricePerQuantity" class="form-control"
                    placeholder="">
            </div>
            <div class="form-group summa col-6 col-md-4">
                <label for="">discountInPercent:</label>
                <div style="position: relative;">
                    <input (blur)="setFinalPrice()" type="number" formControlName="discountInPercent"
                        class="form-control" placeholder="">
                    <div class="percent">
                        <p>%</p>
                    </div>
                </div>
            </div>
            <div class="form-group col-6 col-md-4">
                <label for="">finalPricePerQty:</label>
                <input type="number" disabled="true" formControlName="finalPricePerQty" class="form-control"
                    placeholder="">
            </div>
        </div>

        <div class="form-group col-6">
            <label for="">quantityType:</label>
            <select class="form-control" formControlName="quantityType">
                <option value="Kg">Kg</option>
                <option value="gram">gram</option>
                <option value="Liter">Liter</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="">imgUrl:</label>
            <input type="text" formControlName="imgUrl" class="form-control" placeholder="">
        </div>
        <div class="form-group col-6">
            <label for="">availableQty:</label>
            <input type="number" formControlName="availableQty" class="form-control" placeholder="">
        </div>
        <div class="row mt-3">
            <button (click)="onCreateNewItem()" type="button" class="btn btn-primary col-6 ">Submit</button>

            <button (click)="onCancel()" type="button" class="btn btn-danger col-6">Cancel</button>
        </div>


    </form>
    <div class="container">
        <div class="col-12 row">
            <div *ngFor="let item of productList" class="row d-flex col-12 col-sm-6 border">

                <div class="col-7">
                    <h1>productName:{{item.productName}}</h1>
                    <h2>productID:{{item.productID}}</h2>
                    <div class="row d-flex justify-content-space">
                        <p>category:{{item.category}}</p>
                        <p>availableQty:{{item.availableQty}}</p>
                        <p>pricePerQuantity:{{item.pricePerQuantity}}</p>
                    </div>
                    <p>discountInPercent:{{item.discountInPercent}}</p>
                    <p>finalPricePerQty:{{item.finalPricePerQty}}</p>
                    <p>quantityType:{{item.quantityType}}</p>
                    <button (click)="editItem(item.productID)" type="button"
                        class="btn btn-secondary ms-auto col-3">Edit</button>
                </div>
                <div class="col-3">
                    <img src={{item.imgUrl}} style="height: 100px;width: 100px;"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </div>
                <!-- Edit -->
                <div *ngIf="editeProductId === item.productID" [formGroup]="productForm" class="col-12 row">
                    <div class="form-group col-6">
                        <label for="">productName:</label>
                        <input type="text" formControlName="productName" class="form-control" placeholder="">
                    </div>

                    <div class="form-group col-6">
                        <label for="">category:</label>
                        <input type="text" formControlName="category" class="form-control" placeholder="">
                    </div>
                    <div class="row">
                        <div class="form-group col-6 col-md-4">
                            <label for="">pricePerQuantity:</label>
                            <input (blur)="setFinalPrice()" type="number" formControlName="pricePerQuantity"
                                class="form-control" placeholder="">
                        </div>
                        <div class="form-group summa col-6 col-md-4">
                            <label for="">discountInPercent:</label>
                            <div style="position: relative;">
                                <input (blur)="setFinalPrice()" type="number" formControlName="discountInPercent"
                                    class="form-control" placeholder="">
                                <div class="percent">
                                    <p>%</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6 col-md-4">
                            <label for="">finalPricePerQty:</label>
                            <input type="number" formControlName="finalPricePerQty" class="form-control" placeholder=""
                                disabled="true">
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label for="">quantityType:</label>
                        <select class="form-control" formControlName="quantityType">
                            <option value="Kg">Kg</option>
                            <option value="gram">gram</option>
                            <option value="Liter">Liter</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="">imgUrl:</label>
                        <input type="text" formControlName="imgUrl" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label for="">availableQty:</label>
                        <input type="number" formControlName="availableQty" class="form-control" placeholder="">
                    </div>
                    <div class="row mt-3">
                        <button (click)="onSubmit()" type="button" class="btn btn-primary col-6 ">Submit</button>

                        <button (click)="onCancel()" type="button" class="btn btn-danger col-6">Cancel</button>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>